<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>resume</title>
<style type="text/css">
.resume {
    font-family: Cambria, Hoefler Text, Liberation Serif, Times, Times New Roman, serif;
}
</style>
</head>

<body>
<div class="header">
  <header>
    <h2>Jennifer McCall Contact</h2>
  </header>
</div>
<div class="contact"><h4>Lakewood, CO 80226 - (720) 999-7530 - <a href=mailto:ctrl.vee@gmail.com>ctrl.vee@gmail.com</a></h4></div>
<div class="history">
  <h4>Professional Social Media</h4>
	<p><em><a href="https://github.com/FriendlyTornado">Github</a></em></p>
	<p><em><a href="https://www.linkedin.com/in/jennifer-mccall-02092239/">LinkedIn</a></em></p>
</div>

</body>
</html>
