<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>resume</title>
<style type="text/css">
.resume {
    font-family: Cambria, Hoefler Text, Liberation Serif, Times, Times New Roman, serif;
}
</style>
</head>

<body>
<div class="header">
  <header>
    <h2>Jennifer McCall Homepage</h2>
  </header>
</div>
<div class="contact"></div>
<div class="history">
  <h4>Site Map</h4>
	<p><em><a href="/resume">Resume</a></em></p>
	<p><em><a href="/contact">Contact</a></em></p>
</div>

</body>
</html>
