<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>resume</title>
<style type="text/css">
.resume {
    font-family: Cambria, Hoefler Text, Liberation Serif, Times, Times New Roman, serif;
}
</style>
</head>

<body>
<div class="header">
  <header>
    <h2>Jennifer McCall Resume</h2>
  </header>
</div>
<div class="contact"><h4>Lakewood, CO 80226 - (720) 999-7530 - ctrl.vee@gmail.com</h4></div>
<div class="history"><h4>Profile</h4>
	<p>A self-motivated Navy veteran with extensive data analysis experience in a wide-ranging variety of positions. Expert cloud
computing and software engineer with a diverse skill set ranging from API development, AWS distributed applications, GIS
and remote sensing, real-time natural disaster response, backend web application development, and cross platform software
development. Experience working in high-tempo settings with rapid deadlines necessitating frequent multi-tasking.</p></div>
	
<div class="Education"><h4>Education</h4>
	<p><em>University of Denver – Denver, CO (Jan 2021 – August 2022) </em><p>M.S. Software Design and Programming</p><br>
	  <em>University of Colorado – Boulder, CO (Jan 2010 – Dec, 2012)</em>
	<p>B.A. Geography; Geographic Information Science</p></div>
<div class="skills"><h4>Skills and Expertise</h4>
<li> Golang, Python, Java, C#, Javascript, SQL, R, HTML, CSS, Git, GDAL, Linux, UNIX</li>
 <li>AWS (Lambda, VPC, ECR, EC2, S3, etc.)</li>
 <li>Containerization (Docker, ECR, ECS)</li>
 <li>Adobe Creative Cloud</li>
 <li>Relational and NoSQL DBMS (MySQL, PostgreSQL, Oracle, DynamoDB, SQL Server)</li>
 <li>Business Intelligence(PowerBI, Grafana)</li>
 <li>AI(Prompt engineering, COT, Google Colab)</li>
 <li>Proficient at development in Apple, Windows and Linux OS environments</li>
 <li>Familiar with Agile development practices and SDLC practices</li></p></div>
</div>
<div class="history">
	<h3>Employment History</h3><br>
  <h4> Gogo Business Aviation (February 2022 – December 2024)</h4>
	<p><em>Backend Engineer II</em>	</p>
	<li>Developed and maintained RESTful microservices and APIs with high code coverage unit tests in support of Gogo’s Airborne<br>
    Support Services unit.<br>
  <li>Adept at developing distributed web applications, constructing AWS solutions architecture, and an ability to work with nearly any<br>
    development environment and framework.<br>
  <li>Well-versed in Agile development methodologies and business intelligence tools. Excels in bridging data from disparate teams to<br>
    create a holistic view of development efforts.<br>
  <li>Developed scalable, distributed backend systems. Development tools created include AWS services(Lambda, S3, DynamoDB,<br>
    EC2), Docker containerized applications, Golang MVC applications and web applications using a variety of stacks.<br>
     <li>Automated CI/CD processes for distributed applications involved utilizing Jenkins, AWS CodePipeline, Github Actions and<br>
  Spinakker.</li></p>
  </li>
  </li>
  </li></li>
  <h4><br>
  Colorado Department of Transportation (December 2019 – September 2020)</h4>
  <p><em>Scientific Programmer Analyst III</em></p><li>Produced culvert risk and resiliency application as part of interagency pilot project to determine the potential cost to Colorado<br>
    motorists resulting from minor culvert failure. Development of the risk and resiliency application involved the creation of a<br>
    custom API for extraction and analysis of StreamStats watershed data and digitization of analog civil engineering hydrology<br>
    toolsets.<br>
    <li>Utilized C# and .NET Framework to produce extensible custom tools built on top of the ArcGIS software suite.<br>
    Developed database and mapping applications to assist in CDOT survey operations and ensure data quality.<br>
    Assisted unit manager in the development of ArcGIS Enterprise architecture as well as the deployment of enterprise GIS<br>
    services.<br>
    <li>Constructed Python scripts and T-SQL procedures to optimize the operational efficiency of the Application Data Services Unit.</li><br>
  </p>
  </li>
  </li>
  <h4>Maxar (July 2019 – December 2019)</h4>
  <p><br>
  <em>Senior GIS Analyst (Contract)</em><br>
  </p>
  <li>Developer with the Maxar eGIS team. Products produced included Python scripts and toolboxes used in creating greater<br>
    efficiencies in satellite imagery inventory and production.</li>
  <li>Additional products developed include custom web map applications built with the ArcGIS Javascript API, and other ArcGIS<br>
    portal applications.</p></li>
	<h4><br>Ocean Imaging (May 2014 – May 2019)</h4>
	<p><br>
	  <em>GIS/Remote Sensing Analyst</em>  </p>
	<br>
  
	<li>Head developer for SeaView Fishing software suite. Associated work included modification of oceanographic product processing<br>
    functionality, ingestion of oceanographic products in raster format, alteration of GPS serial reader, creation of a SatLink buoy<br>
    tracker, and construction of new navigational and analytical tools.</li>
    <li>Constructed a true cross-platform Mac port for SeaView Fishing utilizing Java.</li>
  <li>Created Python script for use in the automation of procedures for the calibration and classification of Tactical Rapid Airborne<br>
    Classification System(TRACs) imagery. This process involves processing raw imagery using UNIX script aligning image collections to grid based on flight corrections, georeferencing and mosaicking processed imagery, and constructing 4 band composites from final imagery.</li>
    
    <li>Constructs image classification products utilizing supervised and unsupervised classification techniques. Classification work has<br>
    entailed intertidal analysis of Southern California coastline and Channel Islands, vegetation surveys of California protected lagoon<br>
    areas, oil class assessment related to Deepwater Horizon spill and other ongoing oil spill analyses.<br>
  <li>Creates Python scripts for use in the downloading of oceanographic products from in-house servers at scheduled intervals,<br>
    conversion, and customization of raw imagery products, and analysis of oil spill data.<br>
    <li>Responsible for maintenance of Ocean Imaging ArcGIS Server and delivery of products hosted on company server.<br>
    Manages Ocean Imaging San Diego Water Quality website. Tasks related to this include processing of MODIS, RapidEye, and<br>
    Landsat imagery, updates to website, and monitoring of San Diego coastal area for anomalies surrounding sewer line outfalls.<br>
    <li>Created a product delivery portal for the city of San Diego using Leaflet JavaScript API in order to deliver yearly water quality<br>
    measurements recorded at offshore and coastal water quality stations around the San Diego area.</li><br>
    </h4>
	</li>
    </li>
    </li>
    <h4>Boeing (October 2013 – May 2014)</h4>
    <p></p><em>GIS Analyst</em></p>
    <br>
    <li>Analysis of aerial and panchromatic satellite imagery for extraction of power transmission and vertical obstruction feature data to<br>
    ArcSDE database.    </li>
    <p>&nbsp;</p>
  <h4>Riverside Technology Inc. (March 2013 – August 2013) </h4>
      <p><em>GIS Technician</em>
      </p>
      <br>

  <li>Contributed GIS expertise in the development of environmental decision support systems.<br>
  <li>Provided assistance in aerial photo interpretation of agricultural parcel delineation and irrigation methods, as well as the analysis<br>
    of Landsat NDVI imagery in order to differentiate crop types.<br>
  <li>Processed land use data using IDRISI Selva GEOMOD land use simulation system to model future agricultural and urban land<br>
    cover patterns occurring under different land management scenarios.<br>
    <li>Created climatology products in both raster and tabular format.<br>
    <li>Prepared thematic maps in support of hydrological, agricultural, and land use planning projects.</li></li><br><h4>United States Geological Survey (2012 – March 2013)</h4>
      <em>GIS Student Contractor - Team Lead</em><br>
    <br>
    
    <li>Hired at the inception of the USGS Mineral Deposit Database Project. Assisted in the initial planning phase of the geodatabase<br>
formatting, daily workflow, and training procedures.<br>
<li>Responsible for the digitization of mining and mineral deposit features derived from USGS topographic maps, as well as Bing<br>
aerial photography and National Agriculture Imagery Project imagery.</li>
<li>Georeferenced and digitizes historical map data.</li></li><br><h4>United States Navy (2005 – 2010) </h4>
<p><em>Aerographer’s Mate Second Class -<br>
  Naval Special Warfare Environmental Reconnaissance Technician and Weather Forecaster</em><br>
</p>
<li>Deployed with SEAL Team 5 to Fallujah, Iraq for six months in support of Operation Iraqi Freedom.</li>
  <li>Technically adept – often tasked with a variety of jobs outside of normal scope of duty, including but not limited to the<br>
	  construction and maintenance of supply and other databases, intelligence analysis, logistical inventory, and network<br>
	  troubleshooting.</li>
	  <li>Trained as a weather forecaster and small Unmanned Aerial Vehicle pilot. Environmental knowledge and technical proficiency<br>
	  with regard to weather, aviation and the operation of Naval Special Warfare specific software programs integral to the planning of<br>
	  hundreds of special operations missions.</li>
	  <li>Served for two years as a weather forecaster with the Naval Special Warfare Mission Planning Center in San Diego, CA.<br>
	  Responsible for the creation of weather forecasts for remote locations around the world and customer interface.<br>
	  Created thousands of products pertaining to littoral imagery analysis, weather and littoral forecasts, and other environmental<br>
	  analyses assisting in the planning of Naval Special Warfare operations.</p>
	</p>
</li></div>
</body>
</html>
